<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libraria</title>

    <link rel="stylesheet" href="/CSS/estilos.css">
</head>

<body>
    <main class="principal">

        <!-- SECCIÓN 1 -->
        <section id="container">

            <header class="header1">
                <div class="nombrePagina">
                    <h1>Libraria</h1>
                </div>
                <nav>
                    <a href="/" class="links">Inicio</a>
                    <a href="/catalogo" class="links">Catálogo</a>
                    <a href="/mas_leidos" class="links">100 más leídos</a>
                    <a href="/suscribete" class="links" target="_blank">Suscribete</a>
                    <a href="/register" class="links" target="_blank">Registrarte</a>
                    <a href="#container5" class="links">Contacto</a>
                </nav>
            </header>

            <div class="bannerHeader">
                <div class="textoBanner">
                    <h1>Llevate un mundo nuevo a casa</h1>
                    <p>Cultiva tu mente, libro a libro. Leer no sólo
                       te trae nuevas experiencias, leer te ayuda a
                       crecer </p>
                    <a href="/catalogo">¡Comienza a leer!</a>
                </div>
            </div>

        </section>

        <!-- SECCIÓN 2 -->
        <section id="container2">
            <div class="textoAutoresML">
                <h2>Top 3 autores del momento</h2>
                <p>En el panorama literario actual, tres destacados escritores han capturado la atención de lectores de todo el mundo con sus cautivadoras historias y su estilo único.</p>
            </div>

            <div class="fotosAutoresML">
                <div class="imagen">
                    <img src="/Assets/Fotos/John_Katzenbach (recortada).jpg" alt="John Katzenbach">
                    <a href="#">John Katzenbach</a>
                    <p>Misterio y Suspenso</p>
                </div>

                <div class="imagen">
                    <img src="/Assets/Fotos/Brandon Sanderson(recortada).jpg" alt="Brandon Sanderson">
                    <a href="#">Brandon Sanderson</a>
                    <p>Fantasía</p>
                </div>

                <div class="imagen">
                    <img src="/Assets/Fotos/Stephen King(recortada).jpg" alt="Stephen King">
                    <a href="#">Stephen King</a>
                    <p>Terror</p>
                </div>
            </div>
        </section>

        <!-- SECCIÓN 3 -->

        <section id="container3">
            <div class="imgCatalogo">
                <img src="/Assets/Fotos/Libro.png" alt="">
            </div>

            <div class="textoCatalogo">
                <h2>¡Da rienda suelta a tu imaginación!</h2>
                <p>Desde novelas épicas hasta emocionantes relatos de no ficción, desde clásicos atemporales hasta las últimas novedades literarias, nuestra librería ofrece una selección cuidadosamente curada para satisfacer los gustos y las curiosidades de todo tipo de lectores.</p>
                <a href="./layouts/catalogo.html">¡NUESTRO CATÁLOGO!</a>
            </div>
        </section>

        <!-- SECCIÓN 4 -->

        <section id="container4">
            <div class="texto100">
                <h2>¡100 libros, 100 historias!</h2>
                <p>Una cuidada selección de las obras literarias que han cautivado a lectores de todo el mundo. Estos libros han conquistado los corazones y las mentes de millones de personas, desatando emociones, despertando la curiosidad y generando diálogos en torno a sus páginas.</p>
                <a href="./layouts/mas_leidos.html">¡LEE LO MEJOR!</a>
            </div>

            <div class="img100">
                <img src="/Assets/Fotos/Libro 2.png" alt="">
            </div>
        </section>

        <!-- SECCIÓN 5 -->

        <section id="container5">
            <div class="textoFooter">
                <div id="caja1">
                    <h3>Encuéntranos en:</h3>
                    <div id="redes">
                        <a href="https://www.instagram.com" target="_blank"><img src="/Assets/Iconos/Instagram.png" alt="Logo Instagram"></a>
                        <a href="https://twitter.com" target="_blank"><img src="/Assets/Iconos/Twitter.png" alt="Logo Twitter"></a>
                        <a href="https://www.facebook.com" target="_blank"><img src="/Assets/Iconos/Facebook.png" alt="Logo Facebook"></a>
                    </div>
                </div>

                <div id="caja2">
                    <h3>Email</h3>
                    <p>mimaildeprueba@gmail.com</p>
                </div>
            </div>

            <footer>
                <p>Copyright &copy; 2023. <a href="https://github.com/Nicopk7/Proyecto-Final---Primera-entrega.git">Pereyra Nicolás</a> | Todos los derechos reservados</p>
            </footer>
        </section>
    </main>

    
</body>

</html>
