<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Registro</title>
        <link rel="stylesheet" href="/CSS/estilos.css"> 
       
</head>

<body id="bodyLogin">

        <div class="formContainer" >
            
                <form action="/register" method="POST" id="login">
                    <h1 id="tituloForm">¡Registrate!</h1>
                    <p>Y comienza a comprar ahora mismo</p>
                    <div class="input-box">
                        <input type="text" name="username" id="username" required>
                        <label for="">Nombre</label>
                    </div>
                    <div class="input-box">
                        <input type="email" name="email" id="email" required>
                        <span class="error-message" id="emailError"></span>
                        <label for="">Email</label>

                    </div>
                    <div class="input-box">

                        <input type="password" name="password" id="password" required>
                        <label for="">Contraseña</label>
                    </div>
    <div class="button-container"> <button type="button" onclick="registerUser()">Registrarse</button></div>
                   
                    <p> ¿Ya tienes una cuenta? <a href="/login">¡Inicia sesión!</a></p>
                </form>
       
        </div>


  
  
        <script src="/Javascript/main.js"></script>
</body>

</html>